<?php include($_SERVER['DOCUMENT_ROOT'] . '/joyspe_v2/sp/inc/doctype.html'); ?>
<body>
<?php include($_SERVER['DOCUMENT_ROOT'] . '/joyspe_v2/sp/inc/header.html'); ?>
<div class="page_wrap page_wrap--store_everyone_qa_list">
		<ul class="mybreadcrumb pagebody--white">
			<li><a href="http://static.mgra.jp/joyspe_v2/sp/">TOP</a></li>
			<li><a href="http://static.mgra.jp/joyspe_v2/sp/kanto/">関東</a></li>
			<li><a href="http://static.mgra.jp/joyspe_v2/sp/kanto/tokyo/">東京</a></li>
			<li class="active">検索結果</li>
		</ul>
	<section class="section section--everyone_qa pb_5 cf">
		<p class="store_name"><a href="/joyspe_v2/sp/kanto/tokyo/shibuya/" class="t_link">{小地域名}の求人一覧に戻る</a></p>
		<div class="everyone_qa_detail">
			<h3 class="category_list_ttl">{小地域名}のみんなの質問：<strong>{カテゴリ名}</strong></h3>
			<div class="category_list_pager">
				<p><strong>1 - 10</strong> / 12件中</p>
				<ul class="pager_nav">
					<li><a href=""><i class="fa fa-chevron-left"></i></a></li>
					<li><a href=""><i class="fa fa-chevron-right"></i></a></li>
				</ul>
			</div>
			<ul class="everyone_qa_category_list">
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
				<li><a href="/joyspe_v2/sp/store/everyone_qa_detail.html">Question文章　ここに質問文章が入ります。</a></li>
			</ul>
			<div class="category_list_pager">
				<p><strong>1 - 10</strong> / 12件中</p>
				<ul class="pager_nav">
					<li><a href=""><i class="fa fa-chevron-left"></i></a></li>
					<li><a href=""><i class="fa fa-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="section section--everyone_qa_category pb_5 cf">
		<div class="section_inner">
			<div class="everyone_qa_category">
				<h3 class="section_item_ttl"><img src="/joyspe_v2/sp/img/common/icon/icon_qa.png" alt="">{小地域名}の<strong>みんなの質問</strong>を探す</h3>
				<ul>
						<li><a class="t_link current" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">全て(50)</a></li>
						<li><a class="t_link" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">報酬(12)</a></li>
						<li><a class="t_link" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">待遇(10)</a></li>
						<li><a class="t_link" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">未経験(8)</a></li>
						<li><a class="t_link" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">面接・体験入店(8)</a></li>
						<li><a class="t_link" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">休暇(7)</a></li>
						<li><a class="t_link" href="/joyspe_v2/sp/kanto/tokyo/shibuya/everyone_qa_list.html">その他(30)</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section section--peripheral_area cf">
		<h2 class="ttl_2">周辺エリア</h2>
		<div class="section_inner">
			<div class="peripheral_area">
				<ul>
					<li><a href="#">{新宿}</a></li>
					<li><a href="#">{渋谷}</a></li>
					<li><a href="#">{高田馬場}</a></li>
					<li><a href="#">{高田馬場}</a></li>
					<li><a href="#">{高田馬場}</a></li>
					<li><a href="#">{高田馬場}</a></li>
				</ul>
			</div>
		</div>
	</section>
	<?php include($_SERVER['DOCUMENT_ROOT'] . '/joyspe_v2/sp/inc/company_info.html'); ?>
</div>
<?php include($_SERVER['DOCUMENT_ROOT'] . '/joyspe_v2/sp/inc/footer--store.html'); ?>
<?php include($_SERVER['DOCUMENT_ROOT'] . '/joyspe_v2/sp/inc/script.html'); ?>
<script type="text/javascript">
$(function(){
	$('#slider--store_main > ul').bxSlider({
		controls: false
	});
});
</script>
</body>
</html>