@charset "utf-8";

/*-------------------------------*/
/* section--dictionary          */
/*-------------------------------*/

.section--dictionary .dictionary_h,
.section--dictionary .dictionary_h.footer{
	display:block;
	text-align:center;
}
.section--dictionary .dictionary_h.footer{
	margin-top:30px;
}
.section--dictionary .word_top{
	display:inline-block;
}
.section--dictionary .word_top a{
	color: #333333;
    display: block;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 3px;
    margin-right: 25px;
}

.section--dictionary .word_top a:hover{
	display: block;
	background-color: #ffdff0;
}
.section--dictionary .dictionary_wordtop{
	color: #fa216f;
 	font-size: 16px;
	font-weight: bold;
	padding: 5px 0 15px 0px;
	margin-top: 20px;
}
.section--dictionary .dictionary_wordtop:before{
	content:"▷"
}

.section--dictionary .title_border{
	color: #fa216f;
 	font-size: 18px;
  	font-weight: bold;
	border-left: 5px solid #FA216F;
	padding:10px;
	margin:20px 0 5px 5px;
}
.section--dictionary .word_box{
	padding: 5px 15px 0 15px;
}

.section--dictionary .word_box dt{
	padding: 10px 0 0 0;
	font-weight:bold;
}
.section--dictionary .word_box dd{
	line-height:1.7;
	padding:10px 0;
	border-bottom: 1px solid #EEEEEE;
}
.section--dictionary .box_white{
	margin-bottom:50px;
}