/***  CSS FOR KAME CREDENTIALS  *****/


#header-kame {
    width: 331px;
    height:73px;
    background: url(images/kame-bubble.png) no-repeat;
}

#kame-container img {
    float: right;
    padding-right: 12px;
}

#kame-login {
    color: #4D4D4D;
    margin: 0;
    font-weight: normal;
    font-size: 10px;
    display: block;
    clear: both;
    padding-left: 22px;
    padding-top: 0;
}

#kame-password {
    color:#4D4D4D;
    padding-top:2px;
    margin: -6px;
    font-size: 10px;
    font-weight: normal;
    padding-left: 29px;
    
}